/* Defining some variables to be used in the styles */
:root{
	--bg-color: #020312;
	--text-color: white;
	--main-color: #25d74e;
	--second-color: gray;
	--other-color: #12141c;
	--h1-font: 8vh;
	--h2-font: 5vh;
    --h3-font: 3vh;
    --h4-font: 2.5vh;
    --h5-font: 1vh;
	--p-font: 2.3vh;
    --left-margin: 15%;
    --border-radius: 0.5rem;
    --side-margin: 20px;
    --spacing-unit: 20px;
    --navbar-height: 6vh;
}

/* General styles */
* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--text-color);
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

h1 {
    font-size: var(--h1-font);
    margin-bottom: var(--spacing-unit);
}

h2 {
    font-size: var(--h2-font);
    margin-bottom: var(--spacing-unit);
}

h3 {
    font-size: var(--h3-font);
    margin-bottom: var(--spacing-unit);
    color: var(--main-color);
}

h4 {
    font-size: var(--h4-font);
    margin-bottom: var(--spacing-unit);
    color: var(--main-color);
}

h5 {
    font-size: var(--h5-font);
    margin-bottom: var(--spacing-unit);
    color: var(--text-color);
}

p {
    font-size: var(--p-font);
    margin-bottom: var(--spacing-unit);
    color: var(--second-color);
}

/* Small devices (portrait tablets and large phones, 600px and up) */
header {
    position: fixed;
    width: 100%;
    background-color: black;
    opacity: 0.8;

    .hotbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .menu {
        margin-right: var(--spacing-unit);
    }

    &:hover .navbar a{
        display: flex;
    }

    .logo {
        display: flex;
        align-items: center;
        height: var(--navbar-height);
        margin-left: var(--spacing-unit);
        font-size: var(--h4-font);
        font-weight: bold;
    }
    .logo span {
        font-size: var(--h4-font);
        font-weight: bold;
        color: var(--main-color);
    }
}

.navbar{
    list-style-type: none;
    display: flex;
    flex-direction: column;

    a {
        display: none;
        align-items: center;
        height: var(--navbar-height);
        padding-left: var(--spacing-unit);
        text-decoration: none;
        font-size: var(--h4-font);
        width: 100%;
    }
    a:hover {
        background-color: var(--main-color);
    }
}

#home {
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: right;
        z-index: -1;
    }

    .home-content {
        margin-left: var(--left-margin);
    }
}

.button {
    display: inline-block;
    text-decoration: none;
	padding: 7px 20px;
	border-radius: var(--border-radius);
	font-size: 17px;
	font-weight: bold;
	background: var(--main-color);
	color: var(--text-color);
	border: 1px solid var(--main-color);
	transition: all .40s ease;

    &:hover {
        background: transparent;
        color: var(--main-color);
    }
}

#about {
    width: 100%;
    background-color: var(--bg-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    img {
        width: 200px;
        height: 200px;
        border-radius: 30%;
        margin: calc(2*var(--spacing-unit)) auto;
    }

    .about-content {
        margin: calc(var(--navbar-height) + 3 * var(--spacing-unit)) 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .about-text {
            display: inline;
            text-align: center;
            margin: 0 var(--side-margin);

            .abilities{
                list-style-position: inside;
                margin-top: var(--spacing-unit);
                h4 {
                    color: var(--text-color);
                }
            }
        }
    }
}

#skills {
    height: 200vh;
    width: 100%;
    background-color: var(--bg-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    h2 {
        margin: calc( 2* var(--navbar-height)) 10vw var(--spacing-unit);
    }

    h4 {
        margin: 0 var(--side-margin);}

    .skills-grid {
        display: grid;
        justify-content: center;
        align-items: center;
        grid-template-columns: auto;
        width: 70%;
        margin-top: calc(var(--spacing-unit));

        .skill{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 10vh;
            border-radius: 5px;
            margin: 2vh 3rem;
            transition: all .40s ease;
        }

        .skill:hover {
            transform: translateY(-10px);
        }

        /* Creates the line to show when a skill is hovered */
        .skill::after {
            content: '';
            display: block;
            width: 0;
            height: 4px;
            margin-top: 8px;
            border-radius: 2px;
            background: var(--main-color);
            transition: width 0.4s ease;

        }

        /* Shows the line when the skill is hovered */
        .skill:hover::after {
            width: 70%;
        }

        h5 {
            margin: 1vh 0 0;
            font-style: italic;
            font-size: 0.9rem;
        }

        .img-border {
            width: 10vh;
            height: 10vh;
            border-radius: 50%;
            background-color: white; /* For browsers that do not support gradients */
            background-image: linear-gradient(to right, lightgrey, white);
            display: flex;
            align-items: center;
            justify-content: center;
        }

        img {
            width: 6vh;
            height: 6vh;
        }
    }
}

#projects {
    height: 100vh;
    width: 100%;
    background-color: var(--bg-color);
    display: flex;
    align-items: center;
    justify-content: center;

    .projects-content {
        text-align: center;
    }

    .projects-grid {
        display: flex;
        justify-content: center;
        margin-top: 100px;
    }
}

#contact {
    height: 100vh;
    width: 100%;
    background-color: var(--bg-color);
    display: flex;
    align-items: center;
    justify-content: center;

    .contact-content {
        text-align: center;
    }

    .contact-grid {
        display: flex;
        margin-top: 100px;
    }

    .contact-grid div {
        margin-right: 20px;
    }

    .contact-grid div:last-child {
        margin-right: 0;
    }

    .contact-grid div a {
        display: block;
        text-decoration: none;
        font-size: 20px;
        color: var(--main-color);
    }

    .contact-grid div a:hover {
        color: var(--second-color);
    }
}

.to-top{
	position: fixed;
	bottom: 2.1rem;
	right: 2.1rem;
    height: 35px;
    width: 35px;
    color: var(--text-color);
    background: var(--main-color);
    border: 1px solid var(--main-color);
    font-size: 20px;
    padding: 10px;
    border-radius: 0.5rem;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    
    &:hover {
        background-color: transparent;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    :root {
        --h1-font: 14vh;
        --h2-font: 7vh;
        --h3-font: 4vh;
        --h4-font: 2.5vh;
        --h5-font: 1vh;
        --p-font: 2.3vh;
        --side-margin: 300px;
        --spacing-unit: 20px;
    }

    header {
        display: flex;
        flex-direction: row;
        .logo {
            margin-left: var(--side-margin);
            margin-right: calc(4 * var(--spacing-unit));
        }
    }
    .menu {
        display: none;
    }

    .navbar {
        flex-direction: row;
        a {
            display: flex;
            padding: 0 var(--spacing-unit);
            border-radius: var(--border-radius);
        }
    }

    #about .about-content {
        flex-direction: row;
    }

    #about img {
        margin: auto calc(2 * var(--spacing-unit)) auto var(--side-margin);
    }

    #about .about-content .about-text {
        text-align: left;
        margin: 0 var(--side-margin) 0 var(--spacing-unit);
    }
    #about, #skills {
        height: 100vh;
    }
    
    #skills .skills-grid {
        grid-template-columns: auto auto auto;
    }

    #skills h4 {
        margin: var(--navbar-height) 0;
    }

    .button {
        padding: 14px 40px;
    }
}