/* Defining some variables to be used in the styles */
:root {
    --bg-color: #0d1010;
    --text-color: white;
    --main-color: #25d74e;
    --second-color: gray;
    --h1-font: 60px;
    --h2-font: 40px;
    --h3-font: 20px;
    --h4-font: 15px;
    --h5-font: 10px;
    --p-font: 2.3vh;
    --left-margin: 15%;
    --border-radius: 0.5rem;
    --side-margin: 20px;
    --spacing-unit: 10px;
    --nav-font: 2.5vh;
    --skill-img-size: 40px;
}


/* General styles */
* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--text-color);
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

h1 {
    font-size: var(--h1-font);
    margin-bottom: calc(4*var(--spacing-unit));
}

h2 {
    font-size: var(--h2-font);
    margin-bottom: calc(3*var(--spacing-unit));
}

h3 {
    font-size: var(--h3-font);
    margin-bottom: calc(2*var(--spacing-unit));
    color: var(--main-color);
}

h4 {
    font-size: var(--h4-font);
    margin-bottom: var(--spacing-unit);
    color: var(--main-color);
}

h5 {
    font-size: var(--h5-font);
    margin-bottom: var(--spacing-unit);
    color: var(--text-color);
}

p {
    font-size: var(--p-font);
    margin-bottom: var(--spacing-unit);
    color: var(--second-color);
}

/* Small devices (portrait tablets and large phones, 600px and up) */
body {
    background-color: var(--bg-color);
}

header {
    position: fixed;
    width: 100%;
    background-color: black;
    opacity: 0.8;
    font-size: var(--nav-font);
    font-weight: bold;

    .hotbar {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .logo, .bx-menu {
            margin: var(--spacing-unit) calc(2 * var(--spacing-unit));
        }

        .logo span {
            color: var(--main-color);
        }
    }

    .navbar{
        display: none; /* Hides the navbar */
        list-style-type: none;
    
        a {
            display: block;
            padding: var(--spacing-unit) calc(2 * var(--spacing-unit));
            text-decoration: none;
            width: 100%;
        }
    
        a:hover {
            background-color: var(--main-color);
        }
    }
}

/* Swap this part out with javascript onClick() */
header:hover .navbar{
    display: inline; /* Shows the navbar */
}

#home {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;

    video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -1;
    }

    .home-text {
        margin: calc(2 * var(--spacing-unit));
    }
}

#about {
    overflow: auto;
    min-height: 100vh;
    width: 100%;
    background-color: var(--bg-color);

    img {
        display: block;
        max-width: min(70%, 200px);
        border-radius: 30%;
        margin: calc(5*var(--nav-font)) auto calc(3*var(--spacing-unit));
    }

    .about-text{
        max-width: 70%;
        text-align: center;
        margin: auto;

        .abilities{
            list-style-position: inside;
            margin: calc(3*var(--spacing-unit)) auto;
            h3 {
                color: var(--text-color);
            }
        }
    }
}

#skills {
    overflow: auto;
    min-height: 100vh;
    width: 100%;
    background-color: var(--bg-color);
    text-align: center;

    h2 {
        margin: calc(5*var(--nav-font)) auto var(--spacing-unit);
    }

    .skills-grid {
        display: grid;
        justify-content: center;
        align-items: center;
        grid-template-columns: auto;
        width: 70%;
        margin: calc(2*var(--spacing-unit)) auto 0;

        .skill {
            border-radius: 5px;
            margin: 2vh auto;
            transition: all .40s ease;
        }

        /* Creates the line to show when a skill is hovered */
        .skill::after {
            content: '';
            display: block;
            width: 0;
            height: 4px;
            margin: 8px auto 0;
            border-radius: 2px;
            background: var(--main-color);
            transition: width 0.4s ease;
        }

        .skill:hover {
            transform: translateY(-10px);
        }

        /* Shows the line when the skill is hovered */
        .skill:hover::after {
            width: 70%;
        }

        h4 {
            margin: 1vh auto 0;
            font-style: italic;
            color: var(--text-color);
            text-align: center;
        }

        .img-border {
            width: calc(1.6*var(--skill-img-size));
            height: calc(1.6*var(--skill-img-size));
            margin: auto;
            border-radius: 50%;
            background-color: white;
        }

        img {
            width: var(--skill-img-size);
            height: var(--skill-img-size);
            /* Centers image by calculating margin based on img-border size */
            margin: calc(0.3*var(--skill-img-size)) auto;
        }
    }
}

#projects {
    overflow: auto;
    min-height: 100vh;
    width: 100%;
    background-color: var(--bg-color);

    .projects-content {
        margin: calc(5*var(--nav-font)) auto;
        text-align: center;
    }

    .projects-grid {
        margin: calc(3*var(--spacing-unit)) auto;
    }
}

#contact {
    overflow: auto;
    min-height: 100vh;
    width: 100%;
    background-color: var(--bg-color);

    .contact-content {
        margin: calc(5*var(--nav-font)) auto;
        text-align: center;
    }

    .contact-grid {
        display: flex;
        margin-top: 100px;
    }

    .contact-grid div {
        margin-right: 20px;
    }

    .contact-grid div:last-child {
        margin-right: 0;
    }

    .contact-grid div a {
        display: block;
        text-decoration: none;
        font-size: 20px;
        color: var(--main-color);
    }
}

.button {
    display: inline-block;
    text-decoration: none;
	padding: 7px 20px;
	border-radius: var(--border-radius);
	font-size: var(--h4-font);
	font-weight: bold;
	background: var(--main-color);
	color: var(--text-color);
	border: 1px solid var(--main-color);
	transition: all .40s ease;

    &:hover {
        background-color: transparent;
        color: var(--main-color);
    }
}

.to-top{
	position: fixed;
	bottom: 2.1rem;
	right: 2.1rem;
    height: 35px;
    width: 35px;
    color: var(--text-color);
    background: var(--main-color);
    border: 1px solid var(--main-color);
    font-size: 20px;
    padding: 10px;
    border-radius: 0.5rem;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    
    &:hover {
        background-color: transparent;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media screen and (min-width: 992px) {
    :root {
        --h1-font: 14vh;
        --h2-font: 7vh;
        --h3-font: 4vh;
        --h4-font: 2.5vh;
        --h5-font: 1vh;
        --p-font: 2.3vh;
        --side-margin: 300px;
        --spacing-unit: 15px;
    }

    header {
        display: flex;
        justify-content: space-around;
        align-items: center;

        .hotbar .logo {
            margin: var(--spacing-unit) 0;
        }

        .hotbar .bx-menu {
            display: none; /* Hides the menu icon on large devices*/
        }

        .navbar {
            display: flex;
            a {
                margin: var(--spacing-unit) calc(2 * var(--spacing-unit));
                text-align: center;
                padding: calc(0.5 * var(--spacing-unit));
                border-radius: var(--border-radius);
            }
        }
    }

    header:hover .navbar{
        display: flex !important; /* Funky way of overriding the display: inline of default css. Use javascript to avoid this*/
    }

    #about {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    #about .about-content {
        flex-direction: row;
    }

    #about img {
        margin: auto calc(2 * var(--spacing-unit)) auto var(--side-margin);
    }

    #about .about-content .about-text {
        text-align: left;
        margin: 0 var(--side-margin) 0 var(--spacing-unit);
    }
    #about, #skills {
        height: 100vh;
    }
    
    #skills .skills-grid {
        grid-template-columns: auto auto auto;
    }

    #skills h4 {
        margin: var(--navbar-height) 0;
    }

    .button {
        padding: 14px 40px;
    }
}